<div class="tiles">

    <figure class='grid-item'>
        <img src="./img/black-mug.jpg">
        <figcaption>
            <ul>
                <li class='caption'>A black mug</li>
            </ul>
        </figcaption>
    </figure>
    
    <figure class='grid-item'>
        <img src="./img/bowl.jpg">
        <figcaption>
            <ul>
                <li class='caption'>A blue bowl</li>
            </ul>
        </figcaption>
    </figure>
    
    <figure class='grid-item'>
        <img src="./img/bowl2.jpg">
        <figcaption>
            <ul>
                <li class='caption'>Bowl with a cat in it</li>
            </ul>
        </figcaption>
    </figure>
    
    <figure class='grid-item'>
        <img src="./img/bowl3.jpg">
        <figcaption>
            <ul>
                <li class='caption'>Bowl of cereal</li>
            </ul>
        </figcaption>
    </figure>
    
    <figure class='grid-item'>
        <img src="./img/bowl4.jpg">
        <figcaption>
            <ul>
                <li class='caption'>Bowl of salad</li>
            </ul>
        </figcaption>
    </figure>
    
    <figure class='grid-item'>
        <img src="./img/bowl5.jpg">
        <figcaption>
            <ul>
                <li class='caption'>Fancy Bowl</li>
            </ul>
        </figcaption>
    </figure>
</div>
